body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.brandName{
    font-size: 25px;
    font-weight: 700;
    color: hsl(260, 8%, 14%);
}

#heroImg{
    width: 30em;
    margin-left: 2.5em;
}

.heroImg{
    overflow: hidden;
}

#landing h2{
    font-size: 2em;
    padding: 5px;
    font-weight: 700;
    color: hsl(260, 8%, 14%);
}

#landing p{
    color: hsl(257, 7%, 63%);
}

.ctaButton{
    background-color: hsl(180, 66%, 49%);
    padding: 15px 45px;
    border: none;
    border-radius: 25px;
}

.content{
    background-color: hsl(0, 0%, 75%);
    margin-top: 9em;
}


#linkFormBG{
    background-color: hsl(257, 27%, 26%);
    border-radius: 15px;
}

#input ::placeholder{
    font-size: 14px;
    color:hsl(0, 0%, 75%);
}

.submitURL,
.copyURL{
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 5px;
    padding: .7em 7em;
}

.prunedData{
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}

/*
.url{
    border-bottom: 1.5px solid hsl(0, 0%, 75%);
}
*/

.url,
.shortUrl{
    display: block;
}

h3{
    color: hsl(260, 8%, 14%);
    font-weight: 700;
}

/*====== OPTIONS =====*/

.list{
    border-radius: 5px;
}

.list img{
    background-color: hsl(260, 8%, 14%);
    padding: 20px;
    border-radius: 100px;
    margin-top: -70px;
}

h5{
    color: hsl(260, 8%, 14%);
    font-weight: 700;
    font-size: 22px;
}

.list p{
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 30px;
    color: hsl(257, 7%, 63%);
}

/*====== CTA =====*/

.cta{
    height: 30vh;
    background-color: hsl(257, 27%, 26%);
    letter-spacing: .8px;
    /*button styling above in landing section*/
}




/*=== footer region ===*/

footer{
    background-color: hsl(260, 8%, 14%);
}

h6{
    display: block;
    text-align: left;
    color: white;
    font-size: 16px;
}


.features ul,
.resources ul,
.company ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: hsl(0, 0%, 75%);
    font-size: 14px;
}


.social img{
    margin: 0 10px;
}