body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*====== NAVBAR AREA =====*/

.brandName{
    font-size: 30px;
    font-weight: 700;
    color: hsl(260, 8%, 14%);
}

/*
.nav-link{
    text-decoration: none;
    list-style-type: none;
}

*/

/*====== HERO-LANDING PAGE AREA =====*/
#heroImg{
    width: 30em;
    margin-left: 2.5em;
}

.heroImg{
    overflow: hidden;
}

#landing h2{
    font-size: 2em;
    padding: 5px;
    font-weight: 700;
    color: hsl(260, 8%, 14%);
}

#landing p{
    color: hsl(257, 7%, 63%);
}

.ctaButton{
    background-color: hsl(180, 66%, 49%);
    padding: 10px 45px;
    border: none;
    border-radius: 25px;
}

/*====== FORM AREA =====*/

.content{
    background-color: hsl(0, 0%, 75%);
}

#linkFormBG{
    background: hsl(257, 27%, 26%);
    background-image: url('../images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    border-radius: 8px;
}

#input ::placeholder{
    font-size: 14px;
    color:hsl(0, 0%, 75%);
}

.prunedData{
    background-color: white;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /*display: none; */
}

.submitURL,
.copyURL{
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.indexUrl{
    color: hsl(260, 8%, 14%);
    font-weight: 500;
}

.shortUrl{
    color: hsl(180, 66%, 49%);
    font-weight: 500;
}
/*
.url{
    border-bottom: 1.5px solid hsl(0, 0%, 75%);
}
*/

.url,
.shortUrl{
    display: block;
}

/*====== OPTIONS HEADER =====*/

h3{
    color: hsl(260, 8%, 14%);
    font-weight: 700;
    font-size: 30px;
}

/*====== OPTIONS LIST =====*/

.list{
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.list img{
    background-color: hsl(260, 8%, 14%);
    padding: 20px;
    border-radius: 50px;
    margin-top: -60px;
}

h5{
    color: hsl(260, 8%, 14%);
    font-weight: 700;
    font-size: 21px;
}

.list p{
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 24px;
    color: hsl(257, 7%, 63%);
}

/*====== CTA =====*/

.cta{
    height: 30vh;
    background: hsl(257, 27%, 26%);
    background-image: url('../images/bg-boost-mobile.svg'); background-repeat: no-repeat;
    letter-spacing: .8px;
    /*button styling above in landing section*/
}


/*=== footer region ===*/

footer{
    background-color: hsl(260, 8%, 14%);
}

h4{
    font-size: 28px;
    font-weight: 500;
}

h6{
    display: block;
    text-align: left;
    color: white;
    font-size: 16px;
}

.features ul,
.resources ul,
.company ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: hsl(0, 0%, 75%);
    font-size: 14px;
}

.social img{
    margin: 0 10px;
}

/*
@media only screen and (min-width: ) and (max-width: 1200px){
 

}
*/

/* Medium Screen (Tablets) and above*/
@media (min-width: 992px){

    body{
        font-size: 18px;
    }
    
    .links:hover{
        color: hsl(260, 8%, 14%);
        font-weight: 700;
    }

    .auth{
        font-weight: 700;
        margin: 0px 10px;
    }

    .auth:hover{
        padding: 8px 10px;
        background-color:  hsl(180, 66%, 49%);
        border-radius: 7px;
        color: #fff;
    }

    #heroImg{
        width: 35em;
        margin-right: -15em;
    }
    
    
    #landing h2{
        font-size: 2.7em;
    }

    #landing p{
        font-size: .9em;
    }

    .submitURL:hover,
    .copyURL:hover{
        background-color: hsl(180, 66%, 49%);
        color: hsl(257, 7%, 63%);
    }

    .indexUrl,
    .shortUrl{
       font-size: 18px;
    }

    h3{
        font-size: 40px;
    }

    .rowOptions{
        justify-content: space-around;
        height: 58vh;
    }

    .list p{
        font-size: 13px;
    }

    .list img{
      margin-left: -8em;
    }

    #linkFormBG{
        background-image: url('../images/bg-shorten-desktop.svg');
    }

    .cta{
        background-image: url('../images/bg-boost-desktop.svg');
        background-size: cover;
    }

    .features ul li,
    .resources ul li,
    .company ul li{
        padding: 4px;
    }

    .features ul li:hover ,
    .resources ul li:hover ,
    .company ul li:hover{
        color:hsl(180, 66%, 49%);
    }

    /*when the copy button is clicked*/

    .copiedURL{
        background-color: hsl(260, 8%, 14%);
        color: white;
        /*js changes innerHTML to copied*/
    }
}
     
/* Large Screens (Desktops) and above*/
@media (min-width: 1200px){
    .heroImg{
        overflow: visible;
     }

}

/*
TO-DO

- fix signup and login buttons
- host on netlify
- short corrections to view on medium screens
*/